// Primary colors
$bg-color-main: #171E28; // background color for page, 
$bg-color-article: #242B35; // background color for article, header, select-option, count pages, count row, completed task
$bg-color-sort:#2D333D;
$bg-color-completed: #1E242F;// background completed 
$bg-color-button: #8F7FFF; //task-name, show more, name of company, active page, check-background, apply-button, text&border resert-button
$text-color-primary: #B6B4C6; //color for nav bar, all text, 
$text-color-heading: #FFFFFF; //color-heading, footer-text
$text-color-subheading: #C7BFFF; //subheading
$text-color-completed: #27AE60; // completed
$text-color-non-completed: #EB5757; // non-completed
$color-border: #3D444E;
$color-border-link: #6F68C6;



// background: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
//border-radius: 0px 0px 2px 2px;


// scroll
/* Primary/ grt2_d */
// background: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
// border-radius: 7px 0px 0px 7px;
// transform: rotate(-180deg);