@use "./variables" as *;
@use "./mixins" as *;

.header {
    width: 100%;
    height: 4.25rem;
    padding: 0 3.75rem;
    background-color: $bg-color-article;
    border: 1px solid $color-border;
    @include flex(space-between, center, row, nowrap);

    &__container-logo{
        width: 12.5rem;
        height: 2.25rem;
    }

    &__navigation{
        width: 76%;
        padding-left: 3.5rem;
    }

    &__list{
        @include flex(space-between, center, row, nowrap);
        
        padding:0;
    }

    &__container-avatar{
        width: 8%;
        height: 4.25rem;
        padding-left: 3.75rem;
        border-left: 1px solid $color-border;
        @include flex(flex-end, center, row, nowrap);
    }

}